@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header h1{
    margin-right: 50px;
    margin-top: 10px;
}
header ul{
    display:flex;
}

header li {
    list-style: none;
    margin-right:15px;
    color:#9893A3 ;
    font-weight:600; 
    cursor: pointer;
  
}

header  li::after{
    content: '';

    width: 0%; 
    height: 3px;
    color:#3f3f3f;
    background: #545457;
    display: block;
    margin: auto;
    transition: 0.5s;
   
}
header li:hover::after{
    width:100%;
    color:#5a5961;
  
}
.container {
    padding: 0;
}


.banner-container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-md);
}


.banner-content {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 10px 25px;
    border-radius: var(--border-radius-md);
}

.banner-btn {
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 0 15px;
    border-radius: 4px;
    color: #6200ee;
    background: transparent;
    line-height: 1.15;
    font-size: 14px;
    height: 36px;
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: 1px solid #6200ee;
    text-align: center;
    transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 50px;
}

